/* Small screens */
@media (max-width: 768px) {
    body {
      font-size: 16px; /* Adjust font size for readability */
    }
    .section__pic-container {
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border: none;
      display: none;

    }
    #desktop-nav{
        display: none;
    }
    /* Adjust section padding and margins */
    section {
      padding: 2rem;
      margin: 0;
    }
    .learning{
        display: none;
    }
    /* Adjust logo size and nav links alignment */
    .logo {
      font-size: 1.5rem;
    }
    .title1{
        font-size: 50rem;
    }  
    .nav-links {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    /* Adjust profile picture container */
  
  
    /* Adjust profile image size */
    .profile-img,
    .hovered-img {
      display: none;
      border: none;
    }
  
    /* Adjust text sizes */
    .section__text h1 {
      font-size: 2rem;
    }
  
    /* Adjust button sizes and margins */
    .btn {
      padding: 0.5rem;
      width: 100%;
      margin-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    .icon {
      height: 1rem;
    }
  }
    
